@import '../../../variables.scss';
@import '../../../mixins.scss';
.header {
    padding: 15px 0px;
}
.header__big {
    display: flex;
    justify-content: space-between;
}
.headerList {
    display: flex;
}
.headerList__item:not(:last-child) {
    margin-right: 50px;
}
.headerList__link {
    transition: $transition;
    color:black;
}
.headerList__link:hover {
    color:$orange-color
}
.headerList__dropdown {
    position: relative;
    user-select: none;
    .headerList__dropdown-btn {
        transition: $transition;
        cursor:pointer;
        &:hover {
            color: $orange-color
        }
    }
    .headerList__dropdown-content {
        display: block;
        position:absolute;
        right: 50%;
        top: 110%;
        // padding: 15px;
        // box-shadow: 3px 3px 10px 6px rgba(0,0,0,0.06);
        color:#333;
    }
    .headerList__dropdown-item {
        padding: 10px;
        box-shadow: 3px 3px 10px 6px rgba(0,0,0,0.06);
        cursor:pointer;
        background-color: white;

        &:hover {
            background-color: #fcfcfc;
        }
    }
}
.header__lengs {
    display: flex;
    align-items: center;
}